* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    background-color: #0d1117;
    color: #FFF;
  }
  
  h1 {
    text-align: center;
    margin: 20px auto;
  }
  
  a {
    text-decoration: none;
    color: #8b949e;
  }
  
  .content-main {
    margin: 30px;
  }
  
  .content-main .project {
    border: 1px solid #30363d;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    border-radius: 6px;
    margin: 20px;
  }
  
  .content-main .project div {
    display: flex;
    justify-content: space-between;
  }
  
  .content-main .project div .date-create {
    color: #8b949e;
    border: 1px solid #8b949e;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
  }
  
  .content-main .project div .title {
    color: #47a6f0;
  }
  
  .content-main .project .language .circle {
    background-color: #47a6f0;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
    border: 1px solid #30363d;
    border-radius: 50%;
  }