body{
    background: rgba(0, 0, 0, 0.719);
    font: normal 15pt arial;
}

header{
    background-color: bisque;
    text-align: center;
}

#foto{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

section{
    background-color: bisque;
    border-radius: 9px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.76);
}

div{
    text-align: center;
    padding: 8px;
    
}

footer{
    
    color: #1fec41;
    text-align: center;
    font-size: 0.8em;
    padding: 0px;
}

/*
style="border-radius: 50%;" width="250" height="250" alt="Foto do Horário"
*/